@import "normalize";

body {
	padding: 15px;
}

.app {
    padding: 15px;
}

.app-input input {
    width: 100%;
    padding: 20px 40px;
    outline: none;
    border: 2px solid transparentize(#449fdb, .5);
    box-sizing: border-box;
    border-radius: 99px;
    background: transparentize(#fff, .6);
    color: #449fdb;
    font-size: 125%;
}

.app-result {
    background: rgba(161, 206, 236, 0.14);
    padding: 15px;
}

.app-result ul {
    margin: 0;
    padding: 0;
}


.search_result-item-link a {
    color: #449fdb;
    text-decoration: none;
}

.search_result-item-link {
    margin: 10px 0 0;
}

.search_result-item {
    display: block;   
    margin: 10px 10px 0;      
    padding: 10px 20px;   
    border-left: 2px solid #449FDB;
}

.search_result-item h4 {
    margin: 10px 0;
}
    
&::-webkit-input-placeholder {
   color: transparentize(#449fdb, .5);
}
&:-moz-placeholder { /* Firefox 18- */
   color: transparentize(#449fdb, .5);  
}
&::-moz-placeholder {  /* Firefox 19+ */
   color: transparentize(#449fdb, .5);  
}
&:-ms-input-placeholder {  
   color: transparentize(#449fdb, .5);  
}
